absl-py==0.2.0
astor==0.6.2
backports.functools-lru-cache==1.6.1
backports.weakref==1.0.post1
bleach==1.5.0
cycler==0.10.0
enum34==1.1.9
funcsigs==1.0.2
futures==3.3.0
gast==0.2.0
grpcio==1.11.0
html5lib==0.9999999
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.2
mock==3.0.5
numpy==1.22.0
pandas==0.22.0
Pillow==6.2.2
protobuf==3.5.2.post1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
subprocess32==3.5.4
svgwrite==1.1.12
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
Werkzeug==0.14.1
