* {
  box-sizing: border-box;
}

body {
  background: rgb(98, 105, 244);
  background: linear-gradient(
    45deg,
    rgba(98, 105, 244, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-position: fixed;
  overflow: hidden;
}

#card {
  height: 100vh;
  position: relative;
  perspective: 1500px;
  /* perspective-origin: calc(50% + 120px) 50%; */
}

.card-page {
  /* border: 5px solid #000; */
  /* height: 500px; */
  /* width: 300px; */
  width: 30vw;
  height: 80vh;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
  margin-left: 0vw;
  margin-top: -40vh;
  backface-visibility: hidden;
}

#left {
  transform: translateX(0px) rotateY(-20deg);
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
  animation-name: flip-open;
  animation-duration: 12.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#right {
  z-index: 1;
  background-color: #eee;
}

.front {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  background-color: #eee;
}

.back {
  position: absolute;
  transform: rotateY(-180deg);
  width: 100%;
  height: 100%;
  background-color: #eee;
  border: 1px solid #000;
  border-right: none;
  backface-visibility: hidden;
  padding: 20px;
}

.inner-right {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-left: 1px solid #ccc;
}

h1 {
  font-size: 60px;
  font-weight: normal;
  padding: 40px;
  text-transform: uppercase;
}

@keyframes flip-open {
  100% {
    transform: translateX(0px) rotateY(-180deg);
  }
}
