* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 16px arial;
  font-family: "Times New Roman";
  /* font-family: "Arial"; */
  height: 100%;
}

#toggle {
  width: 24px;
  min-width: 24px;
  background-color: black;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: top;
}


.modal {
  display: none;
  position: fixed;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 4;
  padding: 20px;
}

#credits {
  left: 20vh;
  top: 20vh;
  width: 20vw;
  height: 20vh;
}

#essay {
  border-left: 20px solid #000;
  color: #333;
  height: 80vh;
  width: 80vw;
  top: 10vh;
  left: 10vw;
}

.inner-essay {
  column-count: 3;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
}

h1,
h2 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 30px;
}


a {
  color: #000;
}

h2 {
  margin-top: 0px;
  font-size: 22px;
}

section {
  min-width: 12vw;
  min-width: 20vw;
  flex: 1;
  height: 100%;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border-right: 1px solid #000; */
  background-color: #fff;
  margin: 0px 0px;
  font-size: 12px;
  font-size: 10px;
  /* font-size: 0.7rem; */
}

/* section div { */
/*   margin-right: 10px; */
/* } */

section p {
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-right: 10px;
  /* margin-bottom: 3px; */
  /* display: inline; */
}

/* section p:hover { */
/*   line-height: 2; */
/* } */


nav {
  position: fixed;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
}
